@import '~scss/variables';

nav {
  background-color: $gray;
  border-bottom: 1px solid $gray;

  box-shadow: 0 4px 8px -3px #999;
}

.navbar-brand {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 3px;
  color: $primary-color-dark;
}

#login-button {
  color: $primary-color-dark;
  &:hover {
    background-color: $gray;
    border: 1px solid $gray;
  }
}
