<nav class="navbar fixed-top navbar-expand-md bg-light">
	<a class="navbar-brand" routerLink="/">CAFÉ</a>
	<div class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<!-- <li class="nav-item active">
				<a class="nav-link" href="#">Home
					<span class="sr-only">(current)</span>
				</a>
			</li> -->

			<!-- <li class="nav-item">
				<a class="nav-link" href="#">Link</a>
			</li> -->
			<!--
			<li class="nav-item">
				<a class="nav-link disabled" href="#">Disabled</a>
			</li> -->


		</ul>
		<div *ngIf="auth.user$ | async as user; else showLogin;">
			<a class="nav-link dropdown-toggle" routerLink="/shop" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
				(click)="logout()">{{ getUserFirstName(user) }}</a>
			<div class="dropdown-menu" aria-labelledby="dropdown01">
				<!-- <a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a> -->
			</div>
		</div>
		<ng-template  #showLogin>
			<a routerLink="/login">
				<ul class="navbar-nav">
					<li class="nav-item" id="login-button">Login</li>
				</ul>
			</a>
		</ng-template>
	</div>
</nav>