@import '~scss/variables';

#cart span {
  margin-left: 1.1em;
}

.button-container {
  width: 100%;
  display: block;
  margin: 30px auto 20px;
  float: right;
  padding: 0 30px;

  button {
    width: 7em;
    text-align: left;
    background-color: $primary-color-dark;
    color: $white;
    float: right;
  }
  button:hover {
    background-color: $primary-color-light;
    color: $black;
  }

}

.modal-title {
  font-size: 1.2rem;
  p {
    font-weight: bold;
    text-align: right;
    margin-top: 10%;
  }

  a {
    color: $primary-color-medium;
  }

}

.modal-footer {
  button {
    background-color: $gray;
    cursor: pointer;
  }
}

.drink-list-container {
  margin-top: 40px;
  width: 100%;
}

.caption p {
  margin: 1.5em 0 0.2em;
}

span.drink-name {
  font-weight: 500;
  margin-left: 0 !important;
  font-size: 1rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-style: italic;
}

p.drink-price {
  font-weight: bold;
  margin-bottom: 10px;
}

.card ul {
  list-style-type: none;
}

#add-to-cart-button-container {
  /*margin: auto;*/
  width: 100%;
  text-align: center;
}

#add-to-cart-button {
  background-color: $gray;
}

