/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500i,600');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background-color: #CC0060;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.07em;
}

