/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";


@import url('https://fonts.googleapis.com/css?family=Raleway:400,500i,600');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin-top: 50px;
  background-color: #CC0060;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.07em;
}

