// Primary colours
$primary-color-light: #ff518d;
$primary-color-medium: #cc0060;
$primary-color-dark: #950037;

// Secondary colours:
$white: #fff;
$gray: #E1E2E1;
$black: #000;

// Font stack
$font-stack: 'Raleway', sans-serif;
